@import "~nes.css/css/nes.min.css";

.nes-container.member-card {
  display: flex;
}

.avatar {
  display: inline-block;
  margin-right: 20px;
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}

.profile {
  display: inline-block;
}
